@model Dictionary<string, string>

<div class="col-md-4">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Gender
                </th>
                <th>
                    Average Annual Compensation
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>