@model ProgrammingLanguagesListViewModel

@{
    ViewData["Title"] = "Programming Languages";
}

<h1>Top Programming Languages used in "The Best" company</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Languages[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Languages[0].IsStronglyTyped)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Languages) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStronglyTyped)
            </td>
        </tr>
        }
    </tbody>
</table>
