@model SurveyAnswerViewModel

@{
    ViewData["Title"] = "Survey";
}

<h1>Please respond to survey</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedDeveloperId" class="control-label"></label>
                <select asp-for="SelectedDeveloperId" asp-items="Model.Developers" class="form-control"></select>
                <span asp-validation-for="SelectedDeveloperId" class="text-danger"></span>
            </div>

            <div class="custom-control custom-checkbox my-3">
                <input type="checkbox" class="custom-control-input" asp-for="IsSatisfied">
                <label class="custom-control-label" asp-for="IsSatisfied"></label>
            </div>
            <div class="form-group">
                <label asp-for="AnnualSalary" class="control-label"></label>
                <input asp-for="AnnualSalary" class="form-control" />
                <span asp-validation-for="AnnualSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Answer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
